@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --dark_theme: rgb(56, 53, 53);
  --white-color: #ffffff;
  --while-fade: #ccc6c6;
  --hover-background-color: rgb(98, 98, 222);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

p,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 15px;
}

.theme {
  position: relative;

  .themer_changer {
    position: fixed;
    top: 85px;
    right: 25px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      font-size: 40px;
    }
  }
}

.theme.theme-dark {
  background-color: var(--dark_theme);
  color: #fff;

  #home {
    .home_profile {
      .home_image {
        outline: 3px solid var(--white-color);
        background-color: var(--dark_theme);
      }
    }
  }
  .nav {
    background-color: var(--dark_theme);
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
  }

  a {
    color: #ffff;
  }
  input,
  textarea {
    background-color: rgb(115, 110, 110);
    color: var(--white-color);
  }
  input::placeholder {
    color: white;
  }
  textarea::placeholder {
    color: white;
  }
  .scroller {
    span {
      border-bottom: 2px solid var(--white-color) !important;
      border-right: 2px solid var(--white-color) !important;
    }
  }
}

.nav {
  width: 100%;
  background-color: #fff;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  z-index: 1;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

  h3 {
    color: var(--hover-background-color);
  }

  ul {
    li {
      display: inline-block;
      list-style: none;
      margin: 10px 20px;

      a {
        color: black;
        text-decoration: none;
        position: relative;
      }
      a::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        height: 3px;
        width: 0;
        background: #ff004f;
        transition: 0.5s;
      }
      a:hover:after {
        width: 100%;
      }
    }
  }
}

#home {
  padding: 100px;
  padding-top: 180px;
  width: 100%;
  height: 650px;
  position: relative;
  animation: transitionIn 0.5s ease-in-out;

  .home_profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

    .home_profileIn {
      margin-top: 15px;
      display: flex;
      gap: 15px;

      i {
        font-size: 20px;
      }
    }

    .home_stack {
      display: flex;
      align-items: center;
      gap: 50px;
      margin-top: 80px;
    }

    .home_language {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 20px;
    }

    .home_image {
      width: 300px;
      height: 300px;
      background: url(./../public/img/Bharani.png);
      background-size: cover;
      background-position: left;
      box-shadow: 0 10px 5px 5px rgba(0, 0, 0, 0.2);
      animation: animate 5s ease-in-out infinite;
      transition: all 1s ease-in-out;
      outline: 3px solid black;
      background-color: #bbb8b7;
    }

    @keyframes animate {
      0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
      }

      50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
      }

      100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
      }
    }
  }
  .scroller {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);

    span {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      border-bottom: 2px solid #0e0f0f;
      border-right: 2px solid #040404;
      animation: scroll 1s linear infinite;
      opacity: 0;
    }
    span:nth-child(1) {
      transform: translate(-12px, -12px);
      animation-delay: -0.4s;
    }
    span:nth-child(2) {
      transform: translate(0, 0);
      animation-delay: -0.2s;
    }
    span:nth-child(3) {
      transform: translate(12px, 12px);
      animation-delay: 0s;
    }

    @keyframes scroll {
      0% {
        top: -5px;
        left: -5px;
        opacity: 0;
      }
      25% {
        top: 0px;
        left: 0px;
        opacity: 1;
      }
      100% {
        top: 5px;
        left: 5px;
        opacity: 0;
      }
    }
  }
}

#about {
  width: 100%;
  height: 800px;
  margin: auto;

  .about_container {
    margin: auto;
    width: 60%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(425px, 1fr));

    img {
      place-self: center;
      border-radius: 25px;
    }
    .about_me {
      width: 100%;
      place-self: center;

      h1 {
        width: 100%;
        color: var(--hover-background-color);
      }
      p {
        width: 100%;
      }
    }
  }
}

#project {
  width: 100%;
  height: fit-content;
  padding: 100px 0px;

  .container {
    width: 60%;
    height: 100%;
    margin: auto;

    h1 {
      padding-top: 50px;
      color: var(--hover-background-color);
    }
    p {
      margin-bottom: 50px;
    }

    .work_list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
      grid-row-gap: 50px;
      grid-column-gap: 10px;

      .work {
        place-self: center;
        width: 350px;
        height: 400px;
        box-shadow: 0 5px 50px rgba(0, 0, 0, 0.2);
        border-radius: 25px;
        position: relative;
        overflow: hidden;

        img {
          width: 100%;
          transition: transform 0.5s;
        }
        .layer {
          width: 100%;
          height: 0;
          background: var(--hover-background-color);
          border-radius: 10px;
          position: absolute;
          left: 0;
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding: 0 40px;
          text-align: center;
          overflow: hidden;
          font-size: 16px;
          transition: height 0.5s;

          h2 {
            margin-bottom: 30px;
          }
          a {
            margin-top: 30px;
            color: #080808;
            text-decoration: none;
            font-size: 18px;
            line-height: 60px;
            background: #fff;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            text-align: center;
          }
        }
      }
      .work:hover img {
        transform: scale(1.07);
      }
      .work:hover .layer {
        height: 100%;
      }
    }
  }
}

#contact {
  width: 100%;
  height: 800px;

  .container {
    width: 80%;
    height: 100%;
    margin: auto;

    .row {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      .contact-left {
        flex-basis: 35%;

        h1 {
          color: var(--hover-background-color);
        }

        p {
          i {
            color: var(--hover-background-color);
            margin-right: 15px;
            font-size: 25px;
          }
        }

        .social-icons {
          margin-top: 30px;

          a {
            text-decoration: none;
            font-size: 30px;
            margin-right: 15px;
            color: var(--hover-background-color);
            display: inline-block;
            transition: color 0.5s, transform 0.5s;
          }
          a:hover {
            color: #ff004f;
            transform: translateY(-5px);
          }
        }
        .btn {
          background-color: var(--while-fade);
          display: block;
          margin: 50px auto;
          width: fit-content;
          border: 1px solid var(--hover-background-color);
          padding: 14px 50px;
          border-radius: 6px;
          color: black;
          text-decoration: none;
          transition: background 0.75s;
        }

        .btn:hover {
          background: var(--hover-background-color);
        }

        .btn.btn2 {
          display: inline-block;
        }
        .btn.btn3 {
          background: #080808;
          margin-top: 30px;
          transition: background 0.5;
        }
        .btn.btn3:hover {
          background: var(--hover-background-color);
        }
      }
      .contact-right {
        flex-basis: 60%;

        form {
          width: 100%;

          .btn {
            background-color: var(--while-fade);
            display: block;
            margin: 50px auto;
            width: fit-content;
            border: 1px solid var(--hover-background-color);
            padding: 14px 50px;
            border-radius: 6px;
            color: black;
            text-decoration: none;
            transition: background 0.75s;
          }

          .btn:hover {
            background: var(--hover-background-color);
          }

          input,
          textarea {
            width: 100%;
            border: 0;
            outline: none;
            padding: 15px;
            margin: 15px 0;
            font-size: 18px;
            border-radius: 6px;
            border: 1px solid var(--hover-background-color);
          }
        }
      }
    }
  }
}

#footer {
  text-align: center;
  padding: 25px;
}

@media only screen and (max-width: 1000px) {
  #home {
    height: fit-content;

    .home_profile {
      flex-direction: column;

      .home_image {
        transform: scale(1);
      }
    }
  }

  #about {
    margin-top: 150px;

    .about_container {
      img {
        place-self: center;

        transform: scale(1);
      }
    }
  }
  #project {
    margin-top: 100px;
  }
  #contact {
    .container {
      text-align: center;
      .row {
        flex-direction: column;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .nav {
    justify-content: center;
    ul {
      display: none;
    }
  }
  #home {
    .home_profile {
      .home_stack {
        flex-direction: column;
      }
    }
  }

  #about {
    .about_container {
      width: 100%;
      display: block;

      .about_me {
        margin-top: 50px;
        padding: 15px;
      }

      img {
        place-self: start;
        transform: scale(0.8);
      }
    }
  }
  #project {
    padding: 15px;
    .container {
      width: 100%;
    }
  }
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
